<html>
	<head>
		<title>About Me</title>
		<script type='text/javascript' src='fa17g22/scripts/mahbub.js'></script>
		<style>
		.fixed-home {
		  position: fixed;
		  width: auto;
		  border: 3px black;
		  font-size: 11pt;
		}
		</style>
	</head>
	<body onload='loadMyself()'>
		<div class="fixed-home">
			<form method="get" action="/fa17g22">
	      <button>◄HOME</button>
	    </form>
		</div>
		<br/>
		<div>
			<h1>About Me</h1>
			<div>
				<img src="fa17g22/img/mahbub.jpg" width="600px" height="600px">
			</div>
			<div>&nbsp;</div>
			<div id='myself'></div>
		</div>
	</body>
</html>
