<!DOCTYPE html>
<html>
<head>
  <title>Aleksandar Mitkovski</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <section role="main" class="container_16 clearfix">
  <div class="fixed-home">
    <form method="get" action="/fa17g22">
      <button>◄HOME</button>
    </form>
  </div>
  <div class="container-fluid">
      <div class="jumbotron"  style="background: #428bca!important">
      <div class="row">
        <div class="col-lg-9">
          <img class="img-responsive img-thumbnail" src="fa17g22/img/avatar.jpg" height="200" width="300" style="padding-left: float"/>
        </div>
        <div class="col-lg-9" style="padding-top: 30px; margin-left:  -50px">
	<hgroup>
		<h1>Aleksandar Mitkovski</h1>
                <h2>University of Applied Science - Global Software Development</h2>
	</hgroup>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-pills nav-tabs nav-stacked" >
          <li class="active"><a href="#myStuff" data-toggle="tab"><h4>About Me</h4></a></li>
          <li><a href="#education" data-toggle="tab"><h4>Education</h4></a></li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="myStuff">
                        <img class="img-responsive img-thumbnail" src="fa17g22/img/bayern2.jpg" height="200" width="600"/>

            <div class="panel panel-info">
              <div style="background: #f9f9f9!important" class="panel-heading"><h4><b>Favorite Quote:</b></h4></div>
              <div class="panel-body">
                  <h5><em>Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. - Martin Golding</em></h5>
              </div>
            </div>
            <div class="panel panel-info">
              <div style="background: #f9f9f9!important" class="panel-heading" ><b>Ask me anything</b></div>
              <div class="panel-body">
                  Email: <a href="mailto:aleksandar.mitkovski@informatik.hs-fulda.de" style="cursor: select">aleksandar.mitkovski@informatik.hs-fulda.de</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="education">
            <div class="well well-sm">
              <h3>University of Applied Science Fulda</h3>
              <p><i>2017-2018</i></p>
              <p>Rising Global Software Developer (Master of Science)</p>
            </div>
            <div class="well well-sm">
              <h3>University of Applied Science Fulda</h3>
              <p><i>2013-2016</i></p>
              <p>Attained Bachelor of Science, Focus on Embedded Systems </p>
            </div>

          <div class="well well-sm">
               <div class="grid_8" >
				<h3>Skills</h3>
				<ul class="barres">
					<li data-skills="80">Manage Multiple Projects in Deadline-Driven Environments<span style="width: 80%;"></span></li>
					<li data-skills="60">Understand Software Engineering Best Practices <span style="width: 60%;"></span></li>
					<li data-skills="75">Experience with Multiple Coding Languages<span style="width: 75%;"></span></li>
					<li data-skills="40">Adequate Communication Skills<span style="width: 40%;"></span></li>
				</ul>
	       </div>
          </div>
            <div class="well well-sm">
              <h3>Vehicle development: Engineering Applications</h3>
              <p><i>2016-2017</i></p>
              <p>Full Stack Developer</p>
              <p><i>Used technology: jquerry, Bootstrap, MongoDB, Android, Java, Maven, Node.js</i></p>
            </div>
          </div>
      </div>
    </div>
  </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </section>
</body>

</html>
