<!--
File Name: About.ejs

Description:
This is a About Us page of the Biig application.

Authors:Mahdis,Akhila-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>BiiG</title>
        <% include _linkToStylesheets.html %>
    </head>

    <body>

        <% include _header.ejs %>
        <% include _modalSignIn.html %>
        <% include _modalSignUp.html %>
        <div  id="intro" class="view">
            <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">

                <div class="row d-flex justify-content-center view hm-black-strong" style="background: rgba(255,255,220,0.675)">
                    <div class="col-md-8 text-align-center">
                        <h1>About Us</h1>
                        <p class="font-weight-normal text-justify ">Our web application BiiG alleviates customers and listing agents
                            to find/rent most suitable properties.It will be exclusively used by real estate agents from the following
                            three local real estate companies SFStateHome, SJStateRealtors and CSURealEstate. They can post content and receive
                            contacts/request from customers/buyers. The title BiiG expresses the following component. Each team member comes from another
                            country. “B” stand for Bangladesh , “i” for india, “i” for Iran and “G” for Germany. Diversity and the
                            courage to think big are important features in our team that we also want to reflect with BiiG.</p>
                    </div>

                    <!--text2-->
                    <div class="col-md-8 text-align-center">
                        <p class="text-justify font-weight-normal ">In addition to our unique features,our website is
                            based on the functional range of known real estates sites: For example this includes the search for specific properties by price,size
                            or number of rooms.Afterwards,the interested consumer/buyer can contact directly the corresponding listing agents for the property.BiiG is based
                            on the most up to date technologies and thus offers,with regard to performance at the state of the art.</p>
                    </div>

                </div>
            </div>
        </div>


        <!--Section: Team v.1-->
        <section class="section team-section pb-5" style="background: rgba(255,255,220,0.675)">

            <!--Section heading-->
            <h2 class="section-heading h1 pt-4">Our amazing team</h2>

            <!--Grid row-->
            <div class="row text-center">

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-r">

                    <div class="avatar">
                        <img src="img/assets/mahdis.jpg" class="rounded-circle z-depth-1" alt="First sample avatar image">
                    </div>
                    <h4>Mahdis Lohrasebynejad</h4>
                    <h6 class="font-bold blue-text">Web Designer</h6>

                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="https://www.linkedin.com/in/mahdis-lohraseby-ba564065/"><i class="fa fa-linkedin"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic" href="https://www.facebook.com/mahdis.lohraseby.3"><i class="fa fa-facebook"> </i></a>
                    <!--Instagram-->
                    <a class="icons-sm ins-ic" href="mailto:mahdis.lohraseby@yahoo.com"><i class="fa fa-envelope-o"> </i></a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-r">

                    <div class="avatar">
                        <img src="img/assets/akhila.jpg" class="rounded-circle z-depth-1" alt="Second sample avatar image">
                    </div>
                    <h4>Akhila panackal</h4>
                    <h6 class="font-bold blue-text">Web Designer</h6>


                    <a class="icons-sm li-ic" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fakhila-panackal-95779910b%2F&h=ATPYSsaDyabQQLnS00Vh-ZxG6-wwq_ACjPOfsP3E6MOudhzk1FZJFL0BDc5jUog6Usq1V_fbzgICni0JcXkNZpzv2w2c6lnoJ8vTmZkvOrOvoy96EG79dh1Tzlc1MRY9sksOa7ZCWmTEbA"><i class="fa fa-linkedin"> </i></a>

                    <a class="icons-sm fb-ic" href="https://www.facebook.com/akhilapanackal?fref=ts"><i class="fa fa-facebook"> </i></a>

                    <a class="icons-sm dribbble-ic" href="mailto:akhilacyriacpanackal@gmail.com"><i class="fa fa-google-plus"> </i></a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-r">

                    <div class="avatar">
                        <img src="img/assets/ketu.jpg" class="rounded-circle z-depth-1" alt="Third sample avatar image">
                    </div>
                    <h4>Swetaketu Majumder</h4>
                    <h6 class="font-bold blue-text">backend</h6>

                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="https://www.linkedin.com/in/mswetaketu/"><i class="fa fa-linkedin"> </i></a>
                    <!--Pinterest-->
                    <a class="icons-sm tw-ic" href="https://www.facebook.com/mswetaketu?fref=ts"><i class="fa fa-facebook"> </i></a>
                    <!--Email-->
                    <a class="icons-sm email-ic" href="mailto:swetaketum@gmail.com"><i class="fa fa-google-plus"> </i></a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-r">

                    <div class="avatar">
                        <img src="img/assets/aleks.jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
                    </div>
                    <h4>Aleks Mitkovski</h4>
                    <h6 class="font-bold blue-text">Team Leader</h6>

                    <!--Google +-->
                    <a class="icons-sm gplus-ic" href="https://www.linkedin.com/in/aleksandar-mitkovski-11167a2b/"><i class="fa fa-linkedin"> </i></a>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                    <!--GitHub-->
                    <a class="icons-sm git-ic" href="mailto:amitkovski@gmail.com"><i class="fa fa-google-plus"> </i></a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-r">

                    <div class="avatar">
                        <img src="img/assets/rahman.jpg" class="rounded-circle z-depth-1" alt="Fifth sample avatar image">
                    </div>
                    <h4>Mahbubur Rahman</h4>
                    <h6 class="font-bold blue-text">Backend</h6>

                    <!--Google +-->
                    <a class="icons-sm gplus-ic"><i class="fa fa-linkedin"> </i></a>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="https://www.facebook.com/rohan.deo.104?fref=ts"><i class="fa fa-facebook"> </i></a>
                    <!--GitHub-->
                    <a class="icons-sm git-ic"><i class="fa fa-google-plus"> </i></a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-r">

                    <div class="avatar">
                        <img src="img/assets/rohan.jpg" class="rounded-circle z-depth-1" alt="Sixth sample avatar image">
                    </div>
                    <h4>Rohan Deo</h4>
                    <h6 class="font-bold blue-text">Backend</h6>

                    <!--Google +-->
                    <a class="icons-sm gplus-ic" href="https://www.linkedin.com/in/rohan-deo-a741a5127/"><i class="fa fa-linkedin"> </i></a>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="https://www.facebook.com/rohan.deo.104?fref=ts"><i class="fa fa-facebook"> </i></a>
                    <!--GitHub-->
                    <a class="icons-sm git-ic"><i class="fa fa-google-plus"> </i></a>

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->

        </section>
        <!--Section: Team v.1-->

        <% include _linkToScripts.html %>
    </body>

</html>
