<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>BiiG - Sign Up</title>
  <% include _linkToStylesheets.html %>

  <script type="text/javascript">
  window.onload = function () {
    document.getElementById("inputAdminPassword").onkeyup = validatePassword;
    document.getElementById("inputAdminConfirmPassword").onkeyup = validatePassword;
  }
  function validatePassword(){
    var pass2=document.getElementById("inputAdminConfirmPassword").value;
    var pass1=document.getElementById("inputAdminPassword").value;
    if(pass1!=pass2)
    {
      document.getElementById("submitbutton").disabled = true;
      document.getElementById("submitbutton").value = "PASSWORDS DO NOT MATCH";
    }
    else
    {
      document.getElementById("submitbutton").disabled = false;
      document.getElementById("submitbutton").value = "REGISTER";
    }
    //empty string means no validation error
  }
</script>
</head>
<body>
  <% include _header.ejs %>
  <% include _modalSignIn.html %>
  <% include _modalSignUp.html %>
  <% include _modalTC.html %>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container col-sm-10 col-md-8 justify-content-center">
    <h1 class="displayHeading">Sign Up as Company</h1>
    <div class="jumbotron m-3">
      <form name="signUpCompany" method="post" action="/signupcompany">
          <input placeholder="Company Name" title="Company Name" name="name" type="text" class="form-control" required autofocus>
          <input placeholder="Admin Name" title="Admin Name" name="firstname" type="text" class="form-control" required>
          <input placeholder="Admin Surname" title="Admin Surname" name="lastname" type="text" class="form-control" required>
          <input type="email" id="inputAdminEmail" name="email" class="form-control" placeholder="Email address"  title="Email address" required >
       		<input type="password" id="inputAdminPassword" name="password" class="form-control" placeholder="Password" title="Password" required>
          <input type="password" id="inputAdminConfirmPassword" class="form-control" placeholder="Confirm Password" title="Confirm Password" required>
          <label>Security Question</label>
          <select class="form-control" name="securityQuestion" required>
            <option value="" disabled selected>Choose One</option>
            <% if (locals.secQ) { %>
              <% for(var i=0; i < secQ.length; i++) { %>
                <option value="<%= secQ[i].id %>"><%= secQ[i].value %></option>
                <% } %>
                <% } %>
              </select>
              <input placeholder="Security Answer" type="text" id="securityAnswer" name="securityAnswer" class="form-control" required>
              <div id="remember" class="checkbox">
                <label>
                  <input type="checkbox" id="chkTermsCompany" required> I agree with the <a href="#tcmodal" data-toggle="modal">terms and conditions</a>.
                </label>
              </div>
              <input type="submit" id="submitbutton" class="btn btn-primary btn-block" value="REGISTER">
          </form>
        </div>
    </div>
    <% include _linkToScripts.html %>
    </body>
    </html>
