<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>BiiG - Sign Up</title>
  <% include _linkToStylesheets.html %>

  <script type="text/javascript">
  window.onload = function () {
    document.getElementById("password").onkeyup = validatePassword;
    document.getElementById("confirmpassword").onkeyup = validatePassword;
  }
  function validatePassword(){
    var pass2=document.getElementById("confirmpassword").value;
    var pass1=document.getElementById("password").value;
    if(pass1!=pass2)
    {
      document.getElementById("submitbutton").disabled = true;
      document.getElementById("submitbutton").value = "PASSWORDS DO NOT MATCH";
    }
    else
    {
      document.getElementById("submitbutton").disabled = false;
      document.getElementById("submitbutton").value = "REGISTER";
    }
    //empty string means no validation error
  }
</script>
</head>
<body>
  <% include _header.ejs %>
  <% include _modalSignIn.html %>
  <% include _modalSignUp.html %>
  <% include _modalTC.html %>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container col-sm-10 col-md-8 justify-content-center" >
    <h1 class="displayHeading">Sign Up as a Customer</h1>
    <div class="jumbotron m-3">
        <form name="signUpCustomer" method="post" action="/signupcustomer">
          <input placeholder="Name" title="Name" name="firstname" type="text" class="form-control" required autofocus/>
          <input placeholder="Surname" title="Surname" name="lastname" type="text" class="form-control" required/>
          <input type="email" name="email" class="form-control" placeholder="Email address" title="Email Address" required/>
          <input type="password" placeholder="Password" id="password" class="form-control" name="password" required/>
          <input type="password" placeholder="Confirm Password" id="confirmpassword" class="form-control" required/>
          <label>Security Question</label>
          <select class="form-control" name="securityQuestion" required>
            <option value="" disabled selected>Choose One</option>
            <% if (locals.secQ) { %>
              <% for(var i=0; i < secQ.length; i++) { %>
                <option value="<%= secQ[i].id %>"><%= secQ[i].value %></option>
                <% } %>
                <% } %>
              </select>
              <input placeholder="Security Answer" type="text" id="securityAnswer" name="securityAnswer" class="form-control" required>
              <div id="remember" class="checkbox">
                <label>
                  <input type="checkbox" id="chkTermsCustomer" required> I agree with the <a href="#tcmodal" data-toggle="modal">terms and conditions</a>.
                </label>
              </div>
              <input type="submit" id="submitbutton" class="btn btn-primary btn-block" value="REGISTER">
          </form>
        </div>
      </div>
      <% include _linkToScripts.html %>
    </body>
    </html>
