<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>fa17g22</title>
  <style type="text/css">

  .header{
    width:149px ;
    height:139px ;
  }

  body,html{
    margin:0px;
    padding:0px;
    direction:ltr;
    background-color: #EFE4B0;
  }

  button
  {
    min-width:  250px;
    min-height: 50px;
  }

  </style>

</head>
<body style="color:#2D762F;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1" style="position: float">
        <img src="fa17g22/img/newimg.png" width="200" height="182"/>
      </div>

      <div class="col-lg-11">
        <center><h2><font size="+3" face="Constantia, Lucida Bright, DejaVu Serif, Georgia, serif">Global Software Development Class HS FULDA</font></h2></center>
        <center><h3>Winter 2017</h3></center>
        <center><h3>Local Group fa17g22</h3></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-11" align="center">
          <form method="get" action="/fa17g22/aleksandar">
            <button class="btn-success">Aleksandar Mitkovski</button>
          </form>
        <br>
          <form method="get" action="/fa17g22/swetaketu">
            <button class="btn-success">Swetaketu Majumder</button>
          </form>
        <br>
          <form method="get" action="/fa17g22/akhila">
            <button class="btn-success">Akhila Cyriac Panackal</button>
          </form>
        <br>
          <form method="get" action="/fa17g22/mahbubur">
            <button class="btn-success">Mahbubur Rahman</button>
          </form>
        <br>
          <form method="get" action="/fa17g22/mahdis">
            <button class="btn-success">Mahdis Lohrasebynejad</button>
          </form>
          <br>
          <form method="get" action="/fa17g22/rohan">
            <button class="btn-success">Rohan Deo</button>
          </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  </html>
