<!DOCTYPE html>
<html>
<head>
  <title>Majumder Swetaketu</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  .fixed-home {
    position: fixed;
    width: auto;
    border: 3px black;
    font-size: 11pt;
  }
  </style>
</head>
<body>
  <div class="fixed-home">
    <form method="get" action="/fa17g22">
      <button>◄HOME</button>
    </form>
  </div>
  <div class="container-fluid">
    <div class="jumbotron" style="padding-bottom: 5px; padding-top: 10px">
      <div class="row">
        <div class="col-lg-3">
          <img class="img-responsive img-thumbnail" src="fa17g22/img/dispPic.jpg" height="100" width="200"/>
        </div>
        <div class="col-lg-9" style="padding-top: 120px; margin-left:  -50px">
          <h1>Swetaketu Majumder</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-pills nav-tabs nav-stacked">
          <li class="active"><a href="#info" data-toggle="tab"><h4>Personal Information</h4></a></li>
          <li><a href="#edu" data-toggle="tab"><h4>Educational Qualification</h4></a></li>
          <li><a href="#workex" data-toggle="tab"><h4>Work Experience</h4></a></li>
          <li><a href="#hobbies" data-toggle="tab"><h4>Hobbies</h4></a></li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="info">
            <div class="panel panel-info">
              <div class="panel-heading"><h4><b>Short Bio</b></h4></div>
              <div class="panel-body">
                <h5>I am a fun-loving, career oriented person. The opportunity to learn anything new excites me. I enjoy silly memes as well as serious news articles.</h5>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading"><b>Contact Me</b></div>
              <div class="panel-body">
                <div class="well well-sm">
                  Email: <a href="mailto:swetaketu.majumder@informatik.hs-fulda.de" style="cursor: select">swetaketu.majumder@informatik.hs-fulda.de</a>
                </div>
                <div class="well well-sm">
                  Social Media:
                    <a href="https://www.facebook.com/mswetaketu" target="_blank" style="cursor: select">Facebook | </a>
                    <a href="https://www.instagram.com/swetak2" target="_blank" style="cursor: select">Instagram | </a>
                    <a href="https://www.linkedin.com/in/mswetaketu/" target="_blank" style="cursor: select">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="edu">
            <div class="well well-sm">
              <h3>Hochschule Fulda</h3>
              <p><i>2017-2019</i></p>
              <p>Pursuing MSc in Global Software Development</p>
            </div>
            <div class="well well-sm">
              <h3>University of Delhi</h3>
              <p><i>2011-2014</i></p>
              <p>Pursued BSc with Honours in Computer Science</p>
            </div>
          </div>
          <div class="tab-pane fade" id="workex">
            <div class="well well-sm">
              <h3>Optys Tech Corporation</h3>
              <p><i>2015-2017</i></p>
              <p>Worked as a Consulting Software Engineer.</p>
              <p><i>Technologies used: C#.Net and WinForms, SQLite, XML, Syncfusion APIs</i></p>
            </div>
            <div class="well well-sm">
              <h3>Indus Infoways Private Limited</h3>
              <p><i>2014-2015</i></p>
              <p>Began as a Software Engineer - Intern and was later hired for a full time position.</p>
              <p><i>Technologies used: C#.Net and WinForms</i></p>
            </div>
          </div>
          <div class="tab-pane fade" id="hobbies">
            <div class="well well-sm">
              <div class="row">
                <div class="col-lg-1">
                  <span class="glyphicon glyphicon-camera" style="font-size:5em;"></span>
                </div>
                <div class="col-lg-11">
                  <h2>Photography</h2>
                </div>
              </div>
            </div>
            <div class="well well-sm">
              <div class="row">
                <div class="col-lg-1">
                  <span class="glyphicon glyphicon-plane" style="font-size:5em;"></span>
                </div>
                <div class="col-lg-11">
                  <h2>Travelling</h2>
                </div>
              </div>
            </div>
            <div class="well well-sm">
              <div class="row">
                <div class="col-lg-1">
                  <span class="glyphicon glyphicon-music" style="font-size:5em;"></span>
                </div>
                <div class="col-lg-11">
                  <h2>Music</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
